/* Add your custom styles here */
// .btn-primary{
//     background-color: #1d4367;
//     border-color: #1d4367;
//     color: #ffc00f;
//     &:hover{
//         background-color: #ffc00f;
//         border-color: #ffc00f;
//         color: #1d4367;
//     }
// }
// .bg-primary{
//     background-color: #1d4367 !important
// }

.bg-dark {
  background-color: #E14817 !important;
}

footer a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  background-color: transparent;
}

footer a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

a .card-title {
  color: #7B2A10;
  text-decoration: none;
  background-color: transparent;
}

a .card-title:hover {
  color: #AB6543;
  text-decoration: none;
}

p .social-icons {
  font-size: 24px;
}

p .social-icons a {
  margin: 0 5px 0 5px;
}

form {
  width: 100%;
}

.nlic-projects {
  margin-top: 20px;
}

.page-title {
  margin-top: 20px;
}

.row.toolbox-content {
  margin-left: 0px;
  margin-right: 0px;
}

/*----------  Cookie Consent  -----------*/
.cc_container .cc_btn:hover, .cc_container .cc_btn:active {
    color: #fff !important;
    background-color: #853E29 !important;
}

.cc_container .cc_btn, .cc_container .cc_btn:visited {
    color: #fff !important;
    background-color: #853E29 !important;
}

.cc_container a, .cc_container a:visited {
    color: #853E29 !important;
}

/*----------  Cookie Consent (end)  -----------*/
