# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.htaccess
.idea
*.iml
.DS_Store
Thumbs.db
.buildpath
.project
.settings*
.jekyll-cache
_site
node_modules/
/dist/
npm-debug.log*
package-lock.json
