---
layout: default
---

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="https://repository-images.githubusercontent.com/15517670/8c174e00-b265-11ea-9f4e-381c07548b7c" alt="Innovative License Management Solution">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="font-weight-light">{{ site.title }}</h1>
        <p>{{ site.description }}</p>
        <a class="btn btn-primary" href="https://github.com/Labs64/labs64.github.io">See on GitHub &raquo;</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white my-5 py-4 text-center">
      <div class="card-body">
        <a title="NetLicensing - Innovative License Management Solution" href="https://netlicensing.io?utm_source=website&amp;utm_medium=banner&amp;utm_campaign=netlicensing_internal&amp;utm_content=image">
          <img border="0" alt="NetLicensing - Innovative License Management Solution" src="https://netlicensing.io/img/NLIC-728x90-banner1.png">
        </a>
      </div>
    </div>

    <!-- ToolBox -->
    <div class="row text-center">

      {% for page in site.pages %}
        {% if page.layout == 'page' %}
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title">{{ page.title }}</h4>
                <p class="card-text">{{ page.description }}</p>
              </div>
              <div class="card-footer">
                <a href="{{ page.permalink }}" class="btn btn-primary">Run it</a>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}

    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white my-5 py-4 text-center">
      <div class="card-body">
        <a title="NetLicensing Affiliates Banner" href="https://netlicensing.io/affiliates/?utm_source=website&amp;utm_medium=banner&amp;utm_campaign=netlicensing_internal&amp;utm_content=image">
          <img border="0" alt="NetLicensing Affiliates Banner" src="https://netlicensing.io/img/netlicensing-affiliates-banner-970x250.png">
        </a>
      </div>
    </div>
