---
layout: default
---

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ site.baseurl }}{{ site.stage_banner_image }}" alt="Labs64 - Innovations Delivered">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="font-weight-light">{{ site.title }}</h1>
        <p>{{ site.description }}</p>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- ToolBox -->
    <div class="row text-center">

      {% assign i = 0 %}
      {% for page in site.pages %}
        {% if page.layout == 'page' %}
          {% assign i = i | plus:1 %}
          <div class="col-lg-3 col-md-6 mb-4" id="{{ page.title | slugify }}">
            <div class="card h-100">
              <div class="card-body">
                <a href="{{ page.permalink }}" title="{{ page.title }}"><h4 class="card-title">{{ page.title }}</h4></a>
                <p class="card-text">{{ page.description }}</p>
              </div>
              <div class="card-footer">
                <a href="{{ page.permalink }}" title="{{ page.title }}" class="btn btn-primary">Run it {{ i }}</a>
              </div>
            </div>
          </div>
          {% if i == 4 %}
          <!-- Call to Action Well -->
          <div class="card text-white my-5 py-4 text-center">
            <div class="card-body">
              <a title="NetLicensing Affiliates Banner" href="https://netlicensing.io/affiliates/?utm_source=toolbox&amp;utm_medium=banner&amp;utm_campaign=labs64_toolbox&amp;utm_content=image">
                <img border="0" alt="NetLicensing Affiliates Banner" src="https://netlicensing.io/img/netlicensing-affiliates-banner-970x250.png">
              </a>
            </div>
          </div>
          {% endif %}
        {% endif %}
      {% endfor %}

    </div>
    <!-- /.row -->
