<!-- Begin Cookie Consent plugin by Silktide - https://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {
        "message": "This website uses cookies to ensure you get the best experience. We'll assume you're ok with this, but you can opt-out if you wish.",
        "dismiss": "Accept",
        "learnMore": "Read More",
        "link": "https://www.labs64.com/legal/privacy-policy/",
        "target": "_self",
        "theme": "light-bottom"
    };
</script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js" async="async"></script>
<!-- End Cookie Consent plugin -->
