<script src="https://cdn.jsdelivr.net/npm/guidechimp@1/dist/guidechimp.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/guidechimp@1/dist/guidechimp.min.css">
<script>
var tourToolbox = [
  {
    element: 'h3#instant-validate-api-access ~ p.change-description',
    title: 'Instant validate API access',
    description: 'Get instant access the essential NetLicensing RESTful API methods and see how to validate customer directly in the Management Console.',
  },
  {
    element: 'h3#labs64-netlicensing-for-github-teacher-toolbox ~ p.change-description',
    title: 'Labs64 NetLicensing for GitHub Teacher Toolbox',
    description: 'Great news for all teachers - Labs64 NetLicensing partnered with GitHub and offers NetLicensing Teacher (Basic) Plan for FREE all GitHub Teacher Toolbox users.',
  },
  {
    element: 'h3#vendor-usage-page ~ p.change-description',
    title: 'Vendor Usage Page',
    description: 'Easily verify the limits (active products, customers) and available features and licensing models within your NetLicensing vendor account.',
  },
];

GuideChimp.extend(guideChimpPluginGoogleAnalytics);

var guideChimp = new GuideChimp(tourToolbox, {
  position: 'left',
  scrollPadding: 50
});
// GuideChimp->GoogleAnalytics plugin - https://github.com/Labs64/GuideChimp/tree/master/plugins/googleAnalytics
guideChimp.gaOn('onAfterChange', 'Toolbox Tour', (to, from) => {
  return {
    event_category: 'Guided Tour (GuideChimp)',
    event_label: 'Step (' + to.step + '): ' + to.title,
    value: to.step
  };
});

document.getElementById('start-tour').onclick = function() {
  guideChimp.start();
};
</script>
