<script src="https://cdn.jsdelivr.net/npm/guidechimp@1/dist/guidechimp.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/guidechimp@1/dist/plugins/googleAnalytics.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/guidechimp@1/dist/guidechimp.min.css">
<script>
var tourToolbox = [
  {
    title: 'Made with GuideChimp',
    description: 'This Tour was made with GuideChimp.',
    buttons: [
        {
            title: 'Add GuideChimp to your website',
            class: 'guidechimp-button',
            onClick: function () {
                alert("Step button click");
            }
        }
    ]
  },
  {
    element: '#base64-decoder-encoder',
    title: 'Base64 Decoder/Encoder',
    description: 'Encode/decode Base64-encoding; escape XML, URL's and ECMAScript; translate to UTF-8.',
  },
  {
    element: '#netlicensing-validate-builder',
    title: 'NetLicensing Validate Builder',
    description: 'NetLicensing Validate Builder - at a minimum, your product must call the validate method to retrieve the result of customer licenses validation.',
  },
  {
    element: '#nlic-projects',
    title: 'Labs64 Projects',
    description: 'NetLicensing, GuideChimp, Laravel Boilerplate, Credit Tracker',
  },
];

GuideChimp.extend(guideChimpPluginGoogleAnalytics);

var guideChimp = new GuideChimp(tourToolbox, {
  position: 'left',
  scrollPadding: 50
});
// GuideChimp->GoogleAnalytics plugin - https://github.com/Labs64/GuideChimp/tree/master/plugins/googleAnalytics
guideChimp.gaOn('onAfterChange', 'Toolbox Tour', (to, from) => {
  return {
    event_category: 'Guided Tour (GuideChimp)',
    event_label: 'Step (' + to.step + '): ' + to.title,
    value: to.step
  };
});

document.getElementById('start-tour').onclick = function() {
  guideChimp.start();
};
</script>
