<!-- Projetcs -->
<h2>Labs64 Projects</h2>
<hr/>
<div class="row nlic-projects" id="nlic-projects">

{% for project in site.data.projects %}

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card border-0 shadow h-100">
      <a href="{{ project.link }}" title="{{ project.name }}"><img class="card-img-top" src="{{ site.baseurl }}{{ project.image }}" alt="{{ project.name }}" /></a>
      <div class="card-body">
        <a href="{{ project.link }}" title="{{ project.name }}"><h4 class="card-title">{{ project.name }}</h4></a>
        <p class="card-text">
          {{ project.description }}
        </p>
      </div>
      <div class="card-footer">
        <a href="{{ project.link }}" title="{{ project.name }}" class="btn btn-primary">Find Out More!</a>
      </div>
    </div>
  </div>

{% endfor %}

</div>
<!-- /.row -->
