<!-- Projetcs -->
<div class="row">
  <h2>Labs64 Projects</h2>
  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card border-0 shadow h-100">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/netlicensing-landing-licensing-models.png" alt="" />
      <div class="card-body">
        <h4 class="card-title">NetLicensing</h4>
        <p class="card-text">
          Monetize your digital products and services with Labs64 NetLicensing is a first-class solution in the Licensing-as-a-Service (LaaS) sector.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://netlicensing.io" class="btn btn-primary">Find Out More!</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card border-0 shadow h-100">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/guidechimp.png" alt="" />
      <div class="card-body">
        <h4 class="card-title">GuideChimp</h4>
        <p class="card-text">
          Create interactive guided product tours in minutes with the most non-technical friendly, lightweight and extendable library.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://github.com/Labs64/GuideChimp" class="btn btn-primary">Find Out More!</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card border-0 shadow h-100">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/gentelella-admin-template-preview.jpg" alt="" />
      <div class="card-body">
        <h4 class="card-title">Laravel Boilerplate</h4>
        <p class="card-text">
          Laravel Boilerplate / Starter Kit with Gentelella Admin Theme.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://github.com/Labs64/laravel-boilerplate" class="btn btn-primary">Find Out More!</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card border-0 shadow h-100">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/credit-tracker.png" alt="" />
      <div class="card-body">
        <h4 class="card-title">Credit Tracker</h4>
        <p class="card-text">
          Credit Tracker plugin allows you to create Media Credits Tables, meaning you can easily track which images on your site require accreditation.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://wordpress.org/plugins/credit-tracker/" class="btn btn-primary">Find Out More!</a>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->
