---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  {% include navigation.html %}
  {% include guidechimp.html %}
  <!-- include header.html -->
  <!-- Page Content -->
  <div class="container mb-5">
    {{ content }}
    <!-- Call to Action Well -->
    <div class="card text-white my-5 py-4 text-center">
      <div class="card-body">
        <a title="NetLicensing - Innovative License Management Solution" href="https://netlicensing.io?utm_source=toolbox&amp;utm_medium=banner&amp;utm_campaign=labs64_toolbox&amp;utm_content=image">
          <img border="0" alt="NetLicensing - Innovative License Management Solution" src="https://netlicensing.io/img/NLIC-728x90-banner1.png">
        </a>
      </div>
    </div>
    {% include projetcs.html %}
  </div>
  <!-- /.container -->
  {% include footer.html %}
  {% include cookieconsent.html %}

  <script src="{{ site.baseurl }}/assets/vendor/jquery/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ef22a1c675ddbdd"></script>
</body>

</html>
