---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  {% include navigation.html %}
  {% include guidechimp.html %}
  <!-- include header.html -->
  <!-- Page Content -->
  <div class="container mb-5">
    {{ content }}
    {% include advert.html image='/assets/images/advert/netlicensing-affiliates-banner-970x250.png' %}
    {% include projetcs.html %}
  </div>
  <!-- /.container -->
  {% include footer.html %}

  <script src="{{ '/assets/vendor/jquery/jquery.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
  <script src="{{ '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
  {% unless site.local %}
  {% if site.addthis_pub_id %}
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ site.addthis_pub_id }}"></script>
  {% endif %}
  {% endunless %}
</body>

</html>
