---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  {% include navigation.html %}
  {% include guidechimp.html %}
  <!-- include header.html -->
  <!-- Page Content -->
  <div class="container mb-5">
    {{ content }}
    {% include advert.html image='/assets/images/advert/netlicensing-affiliates-banner-970x250.png' %}
    {% include projetcs.html %}
  </div>
  <!-- /.container -->
  {% include footer.html %}
  {% include cookieconsent.html %}

  <script src="{{ site.baseurl }}/assets/vendor/jquery/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  {% unless site.local %}
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ef22a1c675ddbdd"></script>
  {% endunless %}
</body>

</html>
